<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>
  <body>
    <div class="container">
      <p>Hello <strong><%= name %></strong></p>
      <p>Welcome to Memory Quiz. We are glad to have you on board.</p>
      <%- include('../partials/footer') %>
    </div>
  </body>
</html>
